<%= javascript_include_tag "application" %>
<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" %>
<!-- start leaflet -->
<%= javascript_include_tag "https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" %>
<%= javascript_include_tag "L.KML.js" %>
<%= javascript_include_tag "https://unpkg.com/@tweenjs/tween.js@18.6.4/dist/tween.umd.js" %>
<%= javascript_include_tag "Leaflet.Canvas-Flowmap-Layer-master/src/CanvasFlowmapLayer.js" %>
<%= stylesheet_link_tag    "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" %>
<!-- end leaflet -->

<div id="load-dot" class="dot"></div>
<div id="cover">

    <div class="search-column border-bottom-0 round-checkbox">
        <label class="toggle">
          <input id="animation-btn-id" type="checkbox">
          <span class="slider-round"></span>
          <span class="labels" data-on="Animations on"
                data-off="Animations off"></span>
          </input>
        </label>
    </div>
    <div class="search-column border-bottom-0 round-checkbox">
        <label class="toggle">
          <input id="append-btn-id" type="checkbox" checked>
          <span class="slider-round"></span>
          <span class="labels" data-on="Append new connections"
                data-off="Reset connections"></span>
          </input>
        </label>
    </div>
    <br>
    <br>

    <%= content_tag :div,
     id: "kmls-arr-id",
     class: "invisible",
     data: {kmls:
            Dir.glob("public/census-pumas/*.kml").map{|s| s.sub("public/", "")}} do %>
    <% end %>

    <%= content_tag :div,
     id: "sql-res",
     class: "invisible",
     data: {sql:
	    []} do %>
    <% end %>

    <p style="color: green"><%= notice %></p>

    <%= form_with method: :get,
                  html: {id: "metro-search-id", autocomplete: "off",
                         action: "/df1_originals"},
                  local: true,
                  remote: false do |form| %>
        <!-- start year dropdown selector -->
        <div class="row">
            <div class="label-column">
                <%= form.label "Start Year" %>
            </div>
            <div class="select-column">
                <%= form.select :start_year, @years,
                    :selected => params[:start_year] %>
            </div>
        </div>
        <!-- end year dropdown selector -->
        <div class="row">
            <div class="label-column">
                <%= form.label "End Year" %>
            </div>
            <div class="select-column">
                <%= form.select :end_year, @years,
                 :selected => @years.last %>
            </div>
        </div>
        <!-- k for top k outflows -->
        <div class="row">
            <div class="label-column">
                <%= form.label "Top K Outflows" %>
            </div>
            <div class="select-column">
                <%= form.number_field :k,
                 :min => 1,
                 :oninput => "this.value = this.value > 0 ? this.value : 1",
                 :value => 10,
                 :class => "dropdown-search" %>
            </div>
        </div>
        <!-- origin city search/filter dropdown selector -->
        <div class="row">
            <div class="label-column">
                <%= form.label "Origin" %>
            </div>
            <div class="select-column">
                <div class="dropdown">
                    <input class="dropdown-search"
                           id="dropdown-origin-search-id"
                           type="text"
                           placeholder="Search Cities"
                           selected=""
                           name="o_city">
                    <div id="dropdown-origin-div-id"
                         class="dropdown-content">
                        <% @all_cities.keys.each do |k| %>
                            <a><%= k %></a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <!-- destination city search/filter dropdown selector -->
        <div class="row">
            <div class="label-column">
                <%= form.label "Destination" %>
            </div>
            <div class="select-column">
                <div class="dropdown">
                    <input class="dropdown-search"
                           id="dropdown-destination-search-id"
                           type="text"
                           placeholder="Search Cities"
                           selected=""
                           name="d_city">
                    <div id="dropdown-destination-div-id"
                         class="dropdown-content">
                        <% @all_cities.keys.each do |k| %>
                            <a><%= k %></a>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="search-column tooltip border-bottom-0">
                <button id="search-btn-id" class="search-btn" type="submit"
                        name="commit" disabled="" remote="false">
                    <span>Search</span>
                </button>
                <p id="search-btn-tooltip" class="tooltiptext">
                    Search disabled
                </p>
            </div>

        </div>
    <% end %>

      <div class="download-column tooltip border-bottom-0" id="download-col-id">
        <button type="button" class="download-btn" disabled>
          <span>Download CSV</span>
	</button>
        <p id='download-btn-tooltip' class='tooltiptext'>
           Download <%= @df1_originals.first.is_a?(Df1Original) ?
                     "disabled" : "" %>
        </p>
      </div>

      <div id="map"></div>
  </div>
</div>
