<p style="color: green"><%= notice %></p>

<%= render @df1_original %>

<div>
  <%= link_to "Edit this df1 original", edit_df1_original_path(@df1_original) %> |
  <%= link_to "Back to df1 originals", df1_originals_path %>

  <%= button_to "Destroy this df1 original", @df1_original, method: :delete %>
</div>
